<div class="main-div">
  <mat-card class="example-card center" layout-align="center" flex="50" layout="row">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" formControlName="email">
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" formControlName="password" >
            <label class="error">{{errorMessage}}</label>
          </mat-form-field></td>
        </tr></table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="tryLogin(loginForm.value)" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
