.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.example-card {
  max-width: 400px;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.main-div{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}